*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    height: 100%;
}
body{
    margin: 0%;
    height: 100%;
}
.output-container{
    height: 20%;
}
.output-history{
    text-align: right;
    font-size: 4vh;
    height: 30%;
    color:#888;
}
.output{
    text-align: right;
    font-size: 8vh;
    height: 70%;
    overflow: hidden;
    white-space: nowrap;
}
.calc-button-grid{
    height:80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: stretch;
}

.calc-button{
    
    font-size:1.5rem;
    background-color: #fff;
    border:0px;
}
.calc-button:hover{
    background-color: #ddd;
}